
body{
    background-color: rgb(var(--m-rgb-f1));
}

section{
    margin-bottom: 80px;
}

.m-color-p1{
    background-color: rgb(var(--m-rgb-p1));
}

.m-color-p2{
    background-color: rgb(var(--m-rgb-p2));
}

.m-sec{
    transform: rotate(-1deg);
}

.m-sec > *{
    transform: rotate(1deg);
}

.m-card{
    --m-rad: 40px;

    width: 260px;
    border-radius: 0px var(--m-rad) 0px var(--m-rad);
}

.m-card .card-img-top{
    border-radius: 0px var(--m-rad) 0px 0px;
}

.m-traco{
    width: 50vw;
    height: 20px;
}

.m-box{
    min-height: 250px;
    transform: rotate(1.5deg);
}

.m-box > *{
    transform: rotate(-1.5deg);
}
